* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Font-size: 13px;
  --h4: 16px;
  --padding: 25px;
  --line-height: 1.2rem;
  --w5: 500;
  --w6: 600;
  /* Primary */
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --Very-dark-blackish-blue-op: hsla(219, 29%, 14%, 0.5);
  --White: hsl(0, 0%, 100%);
  --White-op: hsla(0, 0%, 100%, 0.5);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}
@font-face {
  font-family: Barlow Semi Condensed;
  src: url(/fonts/BarlowSemiCondensed-Regular.ttf);
}
body {
  background-color: var(--Light-grayish-blue);
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
  grid-template-areas:
    ". . ."
    ". cont ."
    ". footer .";
}
html {
  font-family: "Barlow Semi Condensed";
  text-align: start;
}
h6 {
  letter-spacing: 2px;
  margin-bottom: 3px;
}
h4 {
  font-size: var(--h4);
}
p {
  font-size: var(--Font-size);
}
.container {
  grid-area: cont;
  display: grid;
  grid-template-columns: 220px 250px 220px 220px;
  grid-template-rows: repeat(2 1r);
  grid-template-areas:
    "one  one  two  three"
    "four five five three";
  gap: 20px;
}
.box {
  padding: var(--padding);
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  align-items: start;
  row-gap: 10px;
}
.box:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px 2px var(--Very-dark-grayish-blue);
}
.wrap {
  display: flex;
  flex-direction: row;
}
.image-div {
  width: 50px;
}
.image-div > img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.box1 {
  grid-area: one;
  background: url("/images/bg-pattern-quotation.svg") no-repeat  top right 20%;
  background-color: var(--Moderate-violet);
}
.box2 {
  grid-area: two;
  background-color: var(--Very-dark-grayish-blue);
}
.box1 > .wrap > .details-div > h6,
.box2 > .wrap > .details-div > h6,
.box5 > .wrap > .details-div > h6 {
  color: var(--White);
  text-transform: capitalize;
  font-weight: var(--w6);
}
.box1 > .wrap > .details-div > p,
.box2 > .wrap > .details-div > p,
.box5 > .wrap > .details-div > p {
  color: var(--White-op);
  font-weight: var(--w5);
}
.box1 > .brief > h4,
.box2 > .brief > h4,
.box5 > .brief > h4 {
  color: var(--White);
  font-weight: var(--w6);

}
.box1 > .content > p,
.box2 > .content > p,
.box5 > .content > p {
  color: var(--Light-gray);
  font-weight: var(--w5);
}
.box3 {
  grid-area: three;
  background-color: var(--White);
}
.box4 {
  grid-area: four;
  background-color: var(--White);
}
.box4 > .wrap > .details-div > h6,
.box3 > .wrap > .details-div > h6 {
  color: var(--Very-dark-grayish-blue);
  font-weight: var(--w6);
}
.box3 > .wrap > .details-div > p,
.box4 > .wrap > .details-div > p {
  color: var(--Very-dark-blackish-blue-op);
  font-weight: var(--w5);
}
.box3 > .brief > h4,
.box4 > .brief > h4 {
  color: var(--Very-dark-grayish-blue);
  font-weight: var(--w6);
}
.box3 > .content > p,
.box4 > .content > p {
  color: var(--Very-dark-grayish-blue);
  font-weight: var(--w5);
}

.box5 {
  grid-area: five;
  background-color: var(--Very-dark-blackish-blue);
}
.attribution {
  grid-area: footer;
  font-size: 11px;
  text-align: center;
  margin-top: -25px;
}
.attribution a {
  color: var(--Strawberry-red);
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
}
@media only screen and (max-width:1000px) {
  .container {
    grid-template-columns: 200px 230px 200px;
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
      "one  one  two"
      "three three three"
      "four five five";
    padding: 50px 0;
  }
  .box:hover{
    transform: scale(1.02);
  }
  .attribution{
    display: none;
  }
}
@media only screen and (max-width:700px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 20px;
  }
 .box{
  width: 90vw;
 }
  
}
